/* Grade.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* ממרכז את הקארדים */
    gap: 20px; /* מרווח בין הקארדים */
    padding: 20px;
}

.card-item {
    width: 23%; /* כל קארד יתפוס 23% מהשורה */
    min-width: 250px; /* גודל מינימום */
    box-sizing: border-box; /* לוודא שהגודל כולל את הרווח */
    border-radius: 8px; /* קצוות מעוגלים */
}

.grade-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    background-size: cover;
    background-position: center;
    height: 200px; /* גובה קבוע לכרטיס */
    padding: 10px;
    border-radius: 8px;
}

.grade-card .p-card-title,
.grade-card .p-card-footer {
    position: absolute;
    z-index: 2;
}

.grade-card .p-card-content {
    z-index: 1;
}
